<div class="pure-u-1">
  <div class="custom-menu-wrapper">
    <div class="pure-menu custom-menu custom-menu-top">
      <a href="/" class="pure-menu-heading custom-menu-brand"><%- site.title %></a>
      <a href="#" class="custom-menu-toggle" id="toggle">
        <s class="bar"></s>
        <s class="bar"></s>
      </a>
    </div>
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
      <div class="custom-menu-screen"></div>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/about.html">About</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="mailto:<%-site.email%>">Email</a></li>
        <% if(site.twitter_username){ %>
          <li class="pure-menu-item"><a class="pure-menu-link" href="http://twitter.com/<%- site.twitter_username %>" target="_blank">Twitter</a></li>
        <% } %>
        <% if(site.strava_profile){ %>
          <li class="pure-menu-item"><a class="pure-menu-link" href="http://www.strava.com/athletes/<%- site.strava_profile %>" target="_blank">Strava</a></li>
        <% } %>
        <% if(site.github_username){ %>
          <li class="pure-menu-item"><a class="pure-menu-link" href="http://github.com/<%- site.github_username %>" target="_blank">Github</a></li>
        <% } %>
      </ul>
      <form method="get" action="http://www.google.com/search" class="pure-form util-right" role="form">
        <input name="sitesearch" type="hidden" value="<%- site.domain %>">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="q" class="form-control input-sm search-query" placeholder="Search" maxlength="255" value="">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary input-sm"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
