<% _.each(posts, function(post){ -%>
  <section class="post">
    <header class="post-header pure-u-1-5">
      <% if(post.image){ %>
        <img class="post-avatar" alt="" height="48" width="48" src="<%-post.image%>">
      <% } %>
      <h2 class="post-title"><a href="<%- post.url %>"><%-post.title%></a></h2>
      <p class="post-meta">
        Posted <%- post.date.format("dddd, MMMM Do YYYY") %>
        <% if(post.tags && post.tags.length){ %>
          under
          <% _.each(post.tags, function(cleanTag, tag){ -%>
            <a class="post-category post-category-<%-cleanTag%>" href="/<%-site.tagsPath%>/<%-cleanTag%>.html"><%-tag%></a>
          <% }) -%>
        <% } %>
      </p>
    </header>
    <div class="post-description pure-u-4-5">
      <p><%- post.summary %></p>
      <a href="<%- post.url %>">read more</a>
    </div>
  </section>
<% }) -%>
<div class="navigation">
  <a href="<%- prevPage %>" class="pure-button button-prev">Previous</a>
  <a href="<%- nextPage %>" class="pure-button button-next">Next</a>
</div>