<% _.each(posts, function(post){ -%>
  <section class="post pure-g">
    <header class="post-header pure-u-1-3">
      <% if(post.image){ %>
        <img class="post-avatar" alt="" height="48" width="48" src="<%-post.image%>">
      <% } %>
      <h2 class="post-title"><a href="<%- post.url %>"><%-post.title%></a></h2>
      <p class="post-meta">
        Posted <%- post.date.format("dddd, MMMM Do YYYY") %>
      </p>
      <p class="post-meta">
        <% if(post.metadata.tags && post.metadata.tags.length){ %>
          <% _.each(post.metadata.tags, function(tag){ -%>
            <a class="post-category post-category-<%-cleanTag(tag)%>" href="/<%-site.tagsPath%>/<%-cleanTag(tag)%>.html"><%-tag%></a>
          <% }) -%>
        <% } %>
      </p>
    </header>
    <div class="post-description pure-u-2-3">
      <p><%- post.summary %></p>
      <a href="<%- post.url %>">Continue Reading</a>
    </div>
  </section>
<% }) -%>
<div class="navigation">
  <a href="<%- prevPage %>" class="pure-button button-prev">← Newer</a>
  <a href="<%- nextPage %>" class="pure-button button-next">Older →</a>
</div>