@import '_defines';
@import '../../../node_modules/purecss-sass/vendor/assets/stylesheets/_purecss.scss';
@import '_tags';
@import '_menu';
@import '_syntax_highlight';
@import '_post';
@import '_utils';
@import '_home';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}


/* LAYOUT CSS */

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.brand-title,
.brand-tagline {
  text-align: center;
  margin: 0;
}

.brand-title {
  color: #FFF;
  text-transform: uppercase;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.navigation{
  margin: 10px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 0;
}

.footer {
  margin: 0 auto;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 1em 0;
}

.footer a {
  color: #ccc;
  font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

.button-next{
  float:right;
}

.custom-search-form{
  margin-right: 10px;
}

.button-search{
  background-color: $green_sea;
  color: $white;
  font-weight: bold;
}

@media (min-width: 48em) {

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

}

