/*********************************************************************
  Home page
*/

.blog-masthead{
  background-color: $white;
  color: $concrete;
  padding: 3em 0 4.6em 4em;
  h1{
    float:left;
    margin: 0 16px 0 0;
    color: $concrete;
    a{
      font-size: 36px;
      color: $concrete;
      font-weight: 500;
      &:hover{
        text-decoration: none;
        color: $sunflower;
      }
    }
  }
  p{
    font-size: 14px;
    margin-top: 20px;
    float:left;
    font-weight: 300;
  }
}

.home-post{
  color: $clouds;
}

.home-post:nth-child(3n){
  background:$green_sea;
}

.home-post:nth-child(3n+1){
  background:$belize_hole;
}

.home-post:nth-child(3n+2){
  background:$asbestos;
}

.post-category{
  background-color: none; // Add a background color if you want tags to show up like buttons
}