//
// Styling for main post page
//
.post{
  padding: 1em;
  color: $black;
  a{
    color: $belize_hole;
  }
  img{
    max-width: 90%;
  }
}

.post-header{
  padding: 0 5px 0 0;
  overflow: hidden;
}

.post-title{
  margin: 0 0 10px 0;
  font-size: 2em;
  color: $concrete;
  a{
    color: $concrete;
    line-height: 40px;
    &:hover{
      text-decoration: none;
      color: $sunflower;
    }
  }
}

.post-meta{
  margin: 5px 0;
  color: $silver;
  font-size: 70%;
}

.post-date{
  margin-right: 10px;
}

.post-category{
  background-color: $concrete;
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: $white;
  font-size: 80%;
}

.post-description{
  padding: 0 0 0 10px;
  line-height: 1.8em;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-images {
  margin: 1em auto;
  clear:both;
  text-align: center;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.post-category{
  color: $clouds;
  background-color: none; // Add a background color if you want tags to show up like buttons
}

a.post-category{
  color: $clouds;
}

a.post-continue{
  color: $silver;
}


//
// Styling for posts on listing pages ie home page, tag pages, archive pages
//
.listing-post{
  color: $white;
  a{
    color: $clouds;
    text-decoration: underline;
  }
}

.listing-post-title{
  a{
    color: $white;
    text-decoration: none;
  }
}

.listing-post:nth-child(3n){
  background:$green_sea;
}

.listing-post:nth-child(3n+1){
  background:$belize_hole;
}

.listing-post:nth-child(3n+2){
  background:$asbestos;
}


@media (min-width: 48em) {

  .post{
    padding: 4em;
  }

  .post-description{
    color: $white;
    line-height: 1.3em;
  }
}