@import './_common';

.post{
  border: none;
  color: $clouds;
  a{
    color: $clouds;
  }
  .post-header{
    padding: 0 5px 0 0;
    overflow: hidden;
    .post-title{
      margin: 0 0 10px 0;
      a{
        color: $white;
        line-height: 40px;
        &:hover{
          text-decoration: none;
          color: $sunflower;
        }
      }
    }
    .post-meta{
      margin: 0 0 10px 0;
      color: $silver;
    }
  }
  img{
    max-width: 90%;
  }
}

.post-category{
  background-color: none;
}

.post:nth-child(3n){
  background:$green_sea;
}

.post:nth-child(3n+1){
  background:$belize_hole;
}

.post:nth-child(3n+2){
  background:$asbestos;
}

@media (min-width: 48em) {
  .content {
    padding: 0;
  }

  .custom-menu-top{
    padding-top: 0;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .post{
    padding: 2em 0 2em 4em;
  }

  .post-description{
    color: $white;
    line-height: 1.3em;
  }
}
