.post-category-design {
  background: #5aba59;
}
.post-category-programming {
  background: #4d85d1;
}
.post-category-travel {
  background: #8156a7;
}
.post-category-js, .post-category-javascript {
  background: #df2d4f;
}