<% _.each(posts, function(post){ -%>
  <div class="post-summary">
    <h2><%-post.title%></h2>
    <p>
      <% _.each(post.metadata.tags, function(cleanTag, tag){ -%>
        <a href="/<%-site.tagsPath%>/<%-cleanTag%>.html"><%-tag%></a>
      <% }) -%>
    </p>
    <p class="text-muted"><%- post.date.format("dddd, MMMM Do YYYY") %></p>
    <p><%- post.summary %></p>
    <a href="<%- post.url %>">read more</a>
  </div>
<% }) -%>
<div class="navigation">
  <a href="<%- prevPage %>">Previous</a>
  <a href="<%- nextPage %>">Next</a>
</div>