<div class="posts">
  <h1 class="content-subhead"><%-currentTag%></h1>
  <% _.each(posts, function(post){ -%>
    <section class="post">
      <header class="post-header">
        <h2 class="post-title"><a href="<%- post.destination %>"><%-post.title%></a></h2>
        <p class="post-meta">
          <% _.each(post.metadata.tags, function(tag){ -%>
            <a class="post-category post-category-<%-cleanTag(tag)%>" href="/<%-site.tagsPath%>/<%-cleanTag(tag)%>.html"><%-tag%></a>
          <% }) -%>
          <p class="text-muted"><%- post.date.format("dddd, MMMM Do YYYY") %></p>
        </p>
      </header>
      <div class="post-description">
        <p><%- post.summary %></p>
        <p class="pull-right">
          <a href="<%- post.destination %>">read more</a>
        </p>
      </div>
    </section>
  <% }) -%>
</div>