@import '_defines';

$icon-font-path: '../fonts/bootstrap';
$fa-font-path:   '../fonts';

$text_color: $midnight_blue;
$background_color: $white;

$navbar_inverse_bg: $midnight_blue;
$navbar_inverse_link_active_bg: $midnight_blue;

$width: 960px;
$label_width: 122px;
$border_color: $silver;
$border_radius: 5px;
$message_width: 86%;
$font_family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
$font_size_error: 18px;


$btn_color: $white;
$input_border: $silver;
$border_color: $silver;

$btn_background_color: $midnight_blue;
$btn_background_color_highlight: $wet_asphalt;


//@import '../../node_modules/font-awesome/scss/font-awesome';
//@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';